@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.popupDelete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-innerDelete {
    position: relative;
    height: 150px;
    width: 750px;
    max-width: 950px;
    background-color: rgb(58, 54, 52);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.popup-innerDelete .closeAtt-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.closeAtt-btn {
    background-color: rgb(65, 61, 59);
    border-width: 0;
}

.textDel {
    font-size: 22px;
    text-align: justify;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.organizerDel {
    width: 85%;
    height: 60%;
}

.organizerDel1 {
    width: 100%;
    height: 30%;
    margin-top: 25px;
}

.cancelButton {
    float: left;
    width: 50%;
    height: 40px;
    border-bottom-left-radius: 10px;
    border-width: 0px;
    background-color: rgb(94, 87, 84);
    color: rgb(235, 168, 71);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.removeButton {
    float: left;
    width: 50%;
    height: 40px;
    border-bottom-right-radius: 10px;
    border-width: 0px;
    background-color: rgb(84, 184, 84);
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}