@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.popupMensagem {
    position: absolute;
    top: 550px;
    left: 580px;
    width: 180px;
    height: 10px;
    justify-content: center;
    align-items: center;
}

.popup-innerMensagem {
    position: relative;
    padding: 32px;
    width: 100%;
    height: 1px;
    max-width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.popup-innerMensagem {
    position: absolute;
    top: 16px;
    right: 16px;
}

.messagePopUp {
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}